<%- include('../includes/head.ejs') %>
<link rel = "stylesheet" href = "/css/authForm.css" >

</head>


<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class = "formContent">
            <div class = "formHeader">
                <h1>Login</h1>
                <a href = "/signup">Register</a>
            </div>

            <% if(validationErrorMessage) { %>
                <div class = "errorMessage">
                    <%= validationErrorMessage %>
                </div>
            <% } %>  

            <form class = "signUpForm" action = "/login" method = "POST" novalidate>
                
                <div class = "formInfo">
                    <label class = "formLabel">Email</label>
                    <input class = "input" type = "email" name = "email" id = "email" placeholder="email" value = "<%= oldInput.email %>">
                </div>
                <div class = "formInfo">
                    <label class = "formLabel">Password</label>
                    <input class = "input" type = "password" name = "password" id = "password" placeholder="password" value = "<%= oldInput.password %>">
                </div>
                <button type = "submit" class = "bigButtonBlack">
                    Login
                </button>
            </form>
        </div>
    </main>



<%- include('../includes/end.ejs') %>