<%- include('../includes/head.ejs') %>
<link rel = "stylesheet" href = "/css/authForm.css" >

</head>


<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class = "formContent">
            <div class = "formHeader">
                <h1>Register</h1>
                <a href = "/login">Login</a>
            </div>
            <% if(validationErrorMessage) { %>
                <div class = "errorMessage">
                    <%= validationErrorMessage %>
                </div>
            <% } %>  
            <form class = "signUpForm" action = "/signup" method = "POST" novalidate>
                <div class = "formInfo">
                    <label class = "formLabel">First Name</label>
                    <input class = "input" name = "firstName" id = "firstName" placeholder="First Name" value="<%= oldInput.firstName %>">
                </div>
                <div class = "formInfo">
                    <label class = "formLabel">Last Name</label>
                    <input class = "input" name = "lastName" id = "lastName" placeholder="Last Name" value="<%= oldInput.lastName %>">
                </div>
                <div class = "formInfo">
                    <label class = "formLabel">Email</label>
                    <input class = "input" type = "email" name = "email" id = "email" placeholder="Email" value="<%= oldInput.email %>">
                </div>
                <div class = "formInfo">
                    <label class = "formLabel">Password</label>
                    <input class = "input" type = "password" name = "password" id = "password" placeholder="Password" value="<%= oldInput.password %>">
                </div>
                <button type = "submit" class = "bigButtonBlack">
                    Register
                </button>
            </form>
        </div>
    </main>


<!-- </body>
</html> -->
<%- include('../includes/end.ejs') %>