<%- include('../includes/head.ejs') %>
</head>


<body>
    <%- include('../includes/navigation.ejs') %>
    

    <div class = "mainContent1">
        <div class = "textContent">
           <h3>Welcome</h3>
            <p>To a blog about everything</p> 
        </div>
        <!-- <p>what the shyte</p> -->
        <!-- <img class = "mainContent1MBL" src = "/images/miatagang.jpg" width = "100%" height="650">
        <div class = "mainContent1Wrapper">
            <h3>THE PILL</h3>
        </div>
        <img class = "mainContent1PC"src = "/images/miatagang.jpg" width = "100%" height="650"> -->
    </div>

    <div class = "mainContent2">
        <div class = "picDiv">
            <img src = "/images/me2.jpg">
            <!-- <p>hi there</p> -->
        </div>
        
        <div class = "introductionDiv">
            <div class = "introductionDiv div">
                <h1>Self Intro</h1>
                <p>Hello, and welcome to my website/blog. My name is Chris Cossich and im currently 25 years old. 
                    Im located in Virginia and a graduate from George Mason University. I have an interest in many things such as Video Games, Cars, hanginout with friends,
                    and riding bikes in DC. I developed this website to show you what I have exprienced in my life so far.
                    Expect to find content about travel, cars, food, etc. As im Continously working on improvign this website, please expect sudden changes. 
                </p>
            </div>
        </div>
    </div>

    <div class = "mainContent3">
        <h3>What to Expect</h3>
        <div class = "Content3div">
            <div class = "part1">
                <h4>Travel</h4>
                <p>Read about the places I have traveled to. Throughout my life, I've had the chance to travel to some places around the world and in the States. Though I'm definitely not a world traveler like my mom, I've had the pleasure to visit some nice places around the world. </p>
            </div>
            <div class = "part1">
                <h4>Cars and hobbies</h4>
                <p>Read about my hobbies that i enjoy and interest in cars (for you car enthusiats out there.). Some of my hobbies include: Video Games, 
                    biking in DC (recent hobby), coding, and much more. </p>
            </div>
            <div class = "part1">
                <h4>Gallery</h4>
                <p>Included in this site, will be a gallery of different pictures taken by me. Most posts on the blog will have a main picture, however, in the gallery you will find
                    all the other pictures that are a part of the blog. Sometimes I use my friends phones, or cameras to take photos, so there could be a slight change in quality.</p>
            </div>
        </div>
        
    </div>

    <div class = "mainContent4">
        <h3>New on the Blog</h3>
        <% if (posts.length > 0){ %>
            <div class = "newPost">
                <% for(var i = 0; i < 1; i ++  ) { %>
                    
                        <a class = "aTagMobileView" href = "/posts/<%= posts[i]._id %>">
                           <div class = "post1">
                                <img src = "<%= posts[i].image %>" />
                                <h5><%= posts[i].title %></h5>
                                <h6><%= posts[i].date %></p>
                            </div> 
                        </a>

                        <a class = "aTagDesktopView" href = "/posts/<%= posts[i]._id %>">
                            <div class = "post1Desktop">
                                <img src = "<%= posts[i].image %>" />
                            </div>
                            <div class = "post1DesktopPostInfo">
                                <h5><%= posts[i].title %></h5>
                                <h5><%= posts[i].overview %></h5>
                                <h6><%= posts[i].date %></p>
                            </div>
                        </a>
                        
                    

                <% } %>
            </div>

        <% } %>
        <p>There are no new posts yet. Add a post!</p>
        
    </div>


    <%- include('../includes/end.ejs') %>