<%- include('../includes/head.ejs') %>
<link rel = "stylesheet" href = "/css/posts.css">
</head>


<body>
    <%- include('../includes/navigation.ejs') %>
    

    <main>
        <div class = "singlePost">
            <div class ="imgDiv">
                <img src = "<%= post.image %>">
            </div>
            <div class = "blogInfoDiv">
                <header>
                    <p><%= post.date %></p>
                    <h1><%= post.title %></h1>
                    <span>by: <%= post.postCreator %></span>
                </header>
                <p>
                    <%= post.content %>
                </p>
            </div>
            <div class = "commentsSection">

                <div class = "commentDiv">
                    <h2>Have Something To Say About This Post?</h2>
                    <form action = "/posts/<%= post._id %>" method = "POST">
                        <textarea name = "comment" id = "comment" placeholder="enter your comment here"></textarea>
                        
                        <% if(!user) { %>
                            <input class = "signInInput" value = "Sign In To Post Comment" type = "submit"  name = "commentsubmitter" disabled>
                        <% }  
                        
                        else { %>
                            <input class = "postComment" value = "Post Comment" type = "submit"  name = "commentsubmitter">
                        <% } %>

                    </form>
                    <% if(comment.length > 0) { %>
                        <div class = "commentHolder">
                        <% for (let comments of comment) { %>

                            <div class = "comments">
                                <p class = "user"> <%= comments.userId.firstName %> <%= comments.userId.lastName %></p><span><%= comments.date %></span>
                                <p class = "actualComment"><%= comments.comment %></p> 
                                
                            </div>
                        <% } %>    
                        </div>
                        

                    <% } else { %>
                        <p>COMMENTS SEEM TO BE EMPTY :(</p>
                    <% } %>
                            
                </div>

            </div>
        </div>
    </main>

    <%- include('../includes/end.ejs') %>